
    <section class="stndr-padding">
        <div class="container">
            <div class='artisan-section'>
                <svg width="6" height="30" viewBox="0 0 6 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="6" height="30" rx="3" fill="#EDD146"/>
                </svg>
                <h3>Artisan</h3>
            </div>
            <div class="artisan-collection">
            <div class="artisan-grid">
                {% assign artisan_products = collections[section.settings.collection].products %}
                {% for product in artisan_products %}
                <div class="artisan-item">
                    <div class="artisan-image">
                    <a href="{{ product.url }}">
                        <img src="{{ product.featured_image | img_url: '400x400' }}" alt="{{ product.title }}">
                    </a>
                    </div>
                    <div class="artisan-details">
                    <a href="{{ product.url }}" class="artisan-title">
                        {{ product.title }}
                    </a>
                    <p class="artisan-price">
                        {{ product.price | money }}
                    </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
            </div>
        </section>


{% schema %}
{
  "name": "Artisan Collection",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a Collection"
    }
  ],
  "presets": [
    {
      "name": "Artisan Collection",
      "category": "Custom"
    }
  ]
}
{% endschema %}
