<section>
    <div class="container">
        <div class="blocks-withouf-space-section">
            <div class="image-row">
                <div class="image-item" style="background-image: url('{{ section.settings.image1 | img_url: '2048x2048' }}');">
                    <div class="text-content">
                        <div>
                            <h3>{{ section.settings.text1_heading }}</h3>
                            <p>{{ section.settings.text1_body }}</p>
                        </div>
                        <img src="{{ section.settings.image2 | img_url: '200x200' }}" alt="{{ section.settings.text1_heading }}">
                    </div>
                </div>
                <div class="image-item" style="background-image: url('{{ section.settings.image3 | img_url: '2048x2048' }}');">
                    <div class="text-content">
                            <h3>{{ section.settings.text3_heading }}</h3>
                            <p>{{ section.settings.text3_body }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
{% schema %}
{
    "name": "Blocks Without Space",
    "settings": [
        {
            "type": "image_picker",
            "id": "image1",
            "label": "Background for left block"
        },
        {
            "type": "text",
            "id": "text1_heading",
            "label": "Heading for left block"
        },
        {
            "type": "textarea",
            "id": "text1_body",
            "label": "Text for left block"
        },
        {
            "type": "image_picker",
            "id": "image2",
            "label": "Image for left block"
        },
        {
            "type": "image_picker",
            "id": "image3",
            "label": "Background for right block"
        },
        {
            "type": "text",
            "id": "text3_heading",
            "label": "Heading for right block"
        },
        {
            "type": "textarea",
            "id": "text3_body",
            "label": "Text for right block"
        },
        {
            "type": "image_picker",
            "id": "image4",
            "label": "Image for right block"
        }
    ],
    "presets": [
        {
            "name": "Blocks Without Space",
            "category": "Custom"
        }
    ]
}
{% endschema %}
