
         <div class="container">
        <div class="four-background-images-section">
        <div class="image-row">
            <div class="image-item" style="background-image: url('{{ section.settings.image1 | img_url: '2048x2048' }}');">
            <div class="text-content">
                <h3>{{ section.settings.text1_heading }}</h3>
                <p>{{ section.settings.text1_body }}</p>
            </div>
            </div>
            <div class="image-item" style="background-image: url('{{ section.settings.image2 | img_url: '2048x2048' }}');">
            <div class="text-content">
                <h3>{{ section.settings.text2_heading }}</h3>
                <p>{{ section.settings.text2_body }}</p>
            </div>
            </div>
            <div class="image-item" style="background-image: url('{{ section.settings.image3 | img_url: '2048x2048' }}');">
            <div class="text-content">
                <h3>{{ section.settings.text3_heading }}</h3>
                <p>{{ section.settings.text3_body }}</p>
            </div>
            </div>
            <div class="image-item" style="background-image: url('{{ section.settings.image4 | img_url: '2048x2048' }}');">
            <div class="text-content">
                <h3>{{ section.settings.text4_heading }}</h3>
                <p>{{ section.settings.text4_body }}</p>
            </div>
            </div>
            </div>
        </div>
        </div>

{% schema %}
{
  "name": "Four Blocks",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Background Image 1"
    },
    {
      "type": "text",
      "id": "text1_heading",
      "label": "Heading for Block 1",
      "default": "Heading 1"
    },
    {
      "type": "textarea",
      "id": "text1_body",
      "label": "Text for Block 1",
      "default": "Add your text here for block 1."
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Background Image 2"
    },
    {
      "type": "text",
      "id": "text2_heading",
      "label": "Heading for Block 2",
      "default": "Heading 2"
    },
    {
      "type": "textarea",
      "id": "text2_body",
      "label": "Text for Block 2",
      "default": "Add your text here for block 2."
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Background Image 3"
    },
    {
      "type": "text",
      "id": "text3_heading",
      "label": "Heading for Block 3",
      "default": "Heading 3"
    },
    {
      "type": "textarea",
      "id": "text3_body",
      "label": "Text for Block 3",
      "default": "Add your text here for block 3."
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Background Image 4"
    },
    {
      "type": "text",
      "id": "text4_heading",
      "label": "Heading for Block 4",
      "default": "Heading 4"
    },
    {
      "type": "textarea",
      "id": "text4_body",
      "label": "Text for Block 4",
      "default": "Add your text here for block 4."
    }
  ],
  "presets": [
    {
      "name": "Four Background Images with Text",
      "category": "Custom"
    }
  ]
}
{% endschema %}
