<div class="container">
    <div class="product-page">
        <div class="product-gallery">
            <div class="gallery-main">
                <img src='{{ product.featured_image | img_url: '1024x1024' }}' alt="{{ product.title }}">
            </div>
        </div>

        <div class="product-details">
            <nav class="breadcrumb">
                {% if breadcrumbs %}
                    {% for crumb in breadcrumbs %}
                        {% if forloop.last %}
                            <span>{{ crumb.title }}</span>
                        {% else %}
                            <a href="{{ crumb.url }}">{{ crumb.title }}</a> >
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <a href="/">Home</a>
                {% endif %}
            </nav>

            <h1 class="product-title"> {{ product.title }} </h1>
            {% if product.description != blank %}
                {% assign paragraphs = product.description | split: '</p>' %}
                {% for paragraph in paragraphs %}
                    {% if paragraph != '<p>' and paragraph != '' %}
                        {{ paragraph }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="product-price">
                <span class="price">{{ product.price | money }}</span>
                <div>
                    {% form 'product', product %}
                    <div class="product-options">
                    <div class='hiden'>
                        <select id="variant-select" name="id">
                            {% for variant in product.variants %}
                                <option value="{{ variant.id }}">
                                    {{ variant.title }}
                                </option>
                            {% endfor %}
                        </select>
                        </div>
                        <input type="number" id="quantity" name="quantity" value="1" min="1">
                        <button type="submit">Add to cart</button>
                    </div>
                    
                    
                    {% endform %}
                </div>
            </div>

            <ul class="product-features">
                <li>ID product: {{ product.id }}</li>
                <li>Title: {{ product.title }}</li>
                <li>Vendor: {{ product.vendor }}</li>
                <li>Price: {{ product.price | money }}</li>
                <li>Available: {% if product.available %} In stock {% else %} Out of stock {% endif %}</li>
                <li>Tags: {{ product.tags | join: ', ' }}</li>
                <li>SKU: {{ product.variants.first.sku }}</li>
                <li>Weight: {{ product.variants.first.weight }} {{ product.variants.first.weight_unit }}</li>
            </ul>
        </div>
    </div>
</div>
