  <div class="container">
      <div class="two-background-images-section">
          <div class="image-row">
              <div class="image-item" style="background-image: url('{{ section.settings.image1 | img_url: '2048x2048' }}');">
                  <div class="text-content">
                  <a href="/pages/gaming-zone">
                      <h3>{{ section.settings.text1_heading }}</h3>
                      <p>{{ section.settings.text1_body }}</p>
                  </a>
                  </div>
              </div>
              <div class="image-item" style="background-image: url('{{ section.settings.image2 | img_url: '2048x2048' }}');">
                  <div class="text-content">
                  <a href="/pages/for-work">
                      <h3>{{ section.settings.text2_heading }}</h3>
                      <p>{{ section.settings.text2_body }}</p>
                  </a>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% schema %}
{
  "name": "Two Blocks",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Background Image 1"
    },
    {
      "type": "text",
      "id": "text1_heading",
      "label": "Heading for Block 1",
      "default": "Heading 1"
    },
    {
      "type": "textarea",
      "id": "text1_body1",
      "label": "Text for Block 1",
      "default": "Add your text here for block 1."
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Background Image 2"
    },
    {
      "type": "text",
      "id": "text2_heading",
      "label": "Heading for Block 2",
      "default": "Heading 2"
    },
    {
      "type": "textarea",
      "id": "text2_body",
      "label": "Text for Block 2",
      "default": "Add your text here for block 2."
    }
  ],
  "presets": [
    {
      "name": "Two Background Images with Text",
      "category": "Custom"
    }
  ]
}
{% endschema %}
